#menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  z-index: 10;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  display: none; /* hidden until join */
}